site_name: Ash Engineering Bytes
site_description: Auto-aggregated readme contents
site_author: msashish
site_url: https://msashish.github.io/auto-doco/
use_directory_urls: true

theme:
  name: material
  palette:
    scheme: default
    primary: indigo
    accent: blue
  features:
    - navigation.tabs
    - navigation.top
    - search.highlight
    - search.share
    - content.code.copy
    - content.tabs.link

plugins:
  - search

markdown_extensions:
  - admonition
  - tables
  - toc:
      permalink: true
  - pymdownx.highlight
  - pymdownx.superfences
  - pymdownx.details

nav:
  - Home: index.md
  - Repositories: repos.md
  - Subnet: subnet.md
  - Help: mkdocs.md
